.navbar{
    margin-top: 15px;
    display: flex;
    height: 75px;
    background: #f1f3f3;
}
.left{
    flex: 50;
}
.left img{
    height: 65px;
    margin-left: 10px;
    margin-top: 4px;
}
.right{
    flex: 50;
    
}
.right button{
    height: 40px;
    width: 50%;
    margin-top: 17px;
    margin-left: 40%;
    background: #08be26;
    border: hidden;
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.goto{
    text-decoration: none;
}